<h1>Tienda de productos</h1>
<div>
  <h2>Bienvenido!</h2>
  <p>Nombre: {{user.name}}</p>
  <p>Email: {{user.email}}</p>
  <p>Edad: {{user.age}}</p>
  <p>Rol: {{user.role}}</p>
  {{#if user.cart}}
    <p class="cartId" id="{{user.cart}}">Carrito: {{user.cart}}</p>
  {{else}}
    <p>Carrito: No hay nada en el carrito</p>
  {{/if}}
  <form id="logout">
    <button class="btn btn-outline-secondary" type="submit">Logout</button>
  </form>
</div>
<div>
  {{#each result.docs}}
    <hr />
    <h3>{{this.title}}</h3>
    <p>{{this.description}}</p>
    <p>Precio: {{this.price}}</p>
    <p>{{this.thumbnails}}</p>
    <p>Codigo: {{this.code}}</p>
    <p>Stock: {{this.stock}}</p>
    <p>Categoria: {{this.category}}</p>
    <p>Id: {{this._id}}</p>
    <p>Estado: {{this.status}}</p>
    <p>Marca: {{this.brand}}</p>
    <form class="addToCart" id="{{this._id}}">
      <button class="btn btn-outline-secondary" type="submit">Agregar al carrito</button>
    </form>
  {{/each}}
  <br /><br />
  {{#if result.hasPrevPage}}
    <a href={{result.prevLink}}>Anterior</a>
  {{/if}}
  {{#if result.hasNextPage}}
    <a href={{result.nextLink}}>Siguiente</a>
  {{/if}}
</div>
<script src="/js/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>